@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      'Gill Sans',
      'Gill Sans MT',
      Calibri,
      'Trebuchet MS',
      sans-serif,
      ui-sans-serif,
      system-ui,
      -apple-system,
      system-ui,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      Noto Sans,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;
  }

  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  p {
    @apply text-base;
  }
}

@layer components {
  .btn {
    &__base {
      @apply flex justify-center p-3 rounded-lg font-bold shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75 hover:opacity-90;
    }

    &--primary {
      @apply btn__base bg-blue-500 text-white hover:bg-blue-700 focus:ring-blue-400;
    }

    &--secondary {
      @apply btn__base bg-red-500 text-white hover:bg-red-700 focus:ring-red-400;
    }

    &--gradient {
      @apply btn__base bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white;
    }

    &--success {
      @apply btn__base bg-green-600 text-white hover:bg-green-700 focus:ring-green-400;
    }

    &--warning {
      @apply btn__base bg-yellow-500 text-gray-800 hover:bg-yellow-400 focus:ring-orange-400;
    }

    &--whiteAlpha {
      @apply btn__base bg-white text-gray-800 hover:bg-gray-50 focus:ring-slate-400;
    }

    &--purple {
      @apply btn__base bg-indigo-800 text-white focus:ring-slate-400;
    }
  }

  .container-center {
    @apply flex justify-center items-center w-screen h-screen;
  }

  .container-center {
    @apply flex justify-center items-center w-screen h-screen;
  }

  .color-main {
    @apply bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400;
  }

  .gradientX {
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-indigo-500 text-white hover:opacity-95;
  }

  .gradientY {
    @apply bg-gradient-to-r from-purple-600 to-purple-700 text-white hover:opacity-95;
  }

  .gradientZ {
    @apply bg-gradient-to-r from-blue-500 to-blue-600 text-white hover:opacity-95;
  }

  .gradientQuest {
    @apply bg-gradient-to-r from-indigo-900 via-indigo-400 to-indigo-900 p-4 rounded-3xl shadow-2xl border-2 border-yellow-50;
  }
}
